title        "desktop-ubuntu"
description  "system settings, config files, and scripts"
media-type   "cli"
tags         "config"  "scripts"
license      "AGPL"
homepage     "https://dym.sh/desktop-ubuntu"
source       "https://source.garden/config/desktop-ubuntu"
